body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ff0000;
    background-color: #121c28;
}


a {
    color: #ff00ff;
}

.h1, h1 {
    font-size: 30px;
    color: #952ed4;
    padding-left: 230px;
img{
    padding-left:
            100px
;
    padding-right:
            100px
;
}

